---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Un intento de desarrollador";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="main-section">
    <section class="section">
    <h2>
      Este sitio está en constante evolución. ¡Un poco de paciencia, por favor!
    </h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt dicta,
      neque repellendus ipsam, assumenda consequuntur doloremque quidem deleniti
      officia quas, molestiae tempore? Nemo animi voluptatibus, debitis
      perspiciatis porro placeat dolorum.
    </p>
    </section>
    <section class="section-quote">
      <p>
        "La vida es una comedia para quienes piensan y una tragedia para quienes
        sienten"
      </p>
      <p>
        Maybe the translation is: Life is a comedy for those who think and a
        tragedy for those who feel.
      </p>
    </section>
  </main>
</BaseLayout>
