---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "I'm a developing developer";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Website under construction.....</h2>
</BaseLayout>
